.card {
  background: #fff;
  border-radius: 2px;
  height: auto;
  /* margin: .25rem; */
  padding: 10px;
  margin:10px 10px 0 0;
  position: relative;
  width: 100%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  /* height: 6000%; */
  overflow: auto;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 60%
}
.jumbotron{
  margin-top: 82px;
}

.navbar {
  background-color: #ffffff;
}
.card> .content {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  height: auto;
  /* overflow: auto; */
}

.card > .content > ul {
  list-style-type: none;
}
.btns{
  color: #d50000;
  cursor: pointer;
  text-decoration: underline;
}
/* .card > .content > ul > li {
  margin-top: 60px;
} */

.remove {
  /* color: #ff1744; */
  font-size: 18px;
  position: relative;
  float: left;
  /* display: inherit; */
  top: -20px;
  /* right: 15px; */
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
.col-sm-6 {
  /* background-color: #6CADDC; */
  padding-left:70px;
}

.col-sm-12 {
  margin-top:30px;
}
h3 {
  text-align: left;
  /* margin-left: 20px; */
}